<div class="container-top d-flex justify-content-center align-items-center grain">
  <div>
    <h1>PROFESSOR NOVAK'S CABINET</h1>
      <h1>PROFESSOR NOVAK'S CABINET</h1>
        <h1>PROFESSOR NOVAK'S CABINET</h1>
  </div>
</div>


<div class="container-first d-flex justify-content-around align-items-center grain">
    <div class=''>
      <%= link_to "EFFECTS", root_path %>
      <%= link_to "ABOUT", about_path %>
      <%= link_to "CONTACT", contact_path %>
    </div>
    <div>
      <%= link_to "LOGIN", user_session_path %>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
</div>
