<%= render "components/page_header" %>

<div class = "mt-5 d-flex justify-content-center align-items-center">

<div>
      <h2>EFFECT SHOW PAGE</h2>

      <%# <% @effects.each do |effect| %>
      <h3>
      <%= @effect.name %>
      </h3>
      <h5>
      <%= @effect.price %>
      </h5>
      <p><%= @effect.description %></p>

      <%= @effect.video %>
      <%# <% end %> %>
</div>
</div>
