<%= render "components/page_header" %>


<div class="about-container d-flex justify-content-center align-items-center grain">
  <div class="inner-about-container d-flex justify-content-around align-items-center grain">
    <div class="about-detail text-center">
    <div class="cabinet-header">
      <h5>THE CABINET</h5>
        <h5>THE CABINET</h5>
          <h5>THE CABINET</h5>
    </div>
      <h6>A range of hand-made bizarre magic effects for the storytelling magician, all crafted in a small workroom in a Scottish village just outside Edinburgh. All items come with full written instructions and a script.
      Feel free to have a look around. If you have any specific questions, don't hesitate to check my FAQ or contact me for more details. </h6>
    </div>
    <div class= 'header-image grain' >
      <%= cl_image_tag("title_mz99uc", style: "height: 228px; width: 250px; border-radius:8px;box-shadow: rgb(0 0 0) 0px 0px 5px 5px;;z-index: -1;    position: relative;") %>
      <%# <%= image_tag "title.jpeg", style: "height: 228px; width: 250px; border-radius:8px;" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-outer mt-5">
      <% @effects.each do |effect| %>
        <div class="effect-card text-center">
        <%= link_to effect_path(effect) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path effect.photo.key, height: 400, crop: :fill %>')">
          <p class="m-3"><%= effect.name.upcase %></p>
          <p class= 'price-color m-2'> £ <%= effect.price %> </p>
        </div>
        <% end %>
        <div class='effect-detail d-flex justify-content-center align-items-center'>
          <p class= "m-1"><%= effect.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "components/page_footer" %>


      <%# <%= link_to 'Effect', effect_path(effect), class:"btn-block btn-primary p-2 w-50 text-center" %>
