<div class="container">
  <div class ="d-flex justify-content-between text-center pt-4 align-items-center">
    <div>
      <div>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
      </div>
      <div>
        <%= link_to "Login", about_path %>
        <%= link_to "Cart", about_path %>
      </div>
    </div>
      <%# <%= link_to "About", about_path %>
      <h1>PROFESSOR NOVAK'S<br>CABINET</h1>
      <%= image_tag "Title.jpeg", style: "height: 190px; width: 250px;" %>
  </div>
</div>
